$btn-font-color:#D82229;
$color-white:#FFF;
$defualt-color:#072A7A;
$hover-font-color:#072A7A;
$heading-h1-size:1.6rem;
$heading-h3-size:1.5rem;
$text-font-size:1.2rem;
$defualt-font-size:1.6rem;


$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:5rem;

$heading-font-color:rgb(126, 126, 124) ;